/*===== GENERAL =====*/

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 10px;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}

.container-large {
  max-width: 120rem;
  margin: 0 auto;
}

.container {
  max-width: 96rem;
  margin: 0 auto;
}

/* ===== BUTTONS ===== */
.btn {
  padding: 1.5rem 3rem;
  background: transparent;
  border: 1px solid #d3995f;
  font-size: 2rem;
  text-transform: uppercase;
  font-weight: lighter;
}

/* ===== Top Navbar =====*/
.top-navbar-bg {
  background-color: #292929;
  margin-bottom: 3rem;
}

.top-nav {
  display: flex;
  justify-content: space-between;
  font-size: 1.2rem;
  padding: 1rem;
}

.left-nav {
  display: flex;
  gap: 1rem;
}

.top-nav a {
  color: #fff;
  text-decoration: none;
}

.right-nav {
  display: flex;
  justify-content: flex-end;
  gap: 2rem;
}

.login {
  margin-right: 1rem;
}

/*===== Navbar =====*/

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar li {
  list-style: none;
}

.navbar li a {
  text-decoration: none;
  font-size: 1.3rem;
}

.navbar li a:link,
.navbar li a:visited {
  color: #2a2a2a;
}

.navbar li a:active,
.navbar li a:hover {
  color: #d3995f;
}

.navbar .logo {
  max-width: 100px;
}

/*===== HERO SECTION =====*/
.main-nav {
  margin-bottom: 3rem;
}
.hero-container {
  display: grid;
  grid-template-columns: 2fr 1fr;
  min-height: 40rem;
  /* align-items: center; */
  gap: 2rem;
}

.hero-left {
  align-self: center;
}

.heading-primary {
  font-size: 5rem;
  text-transform: uppercase;
  color: #d3995f;
  margin-bottom: 4rem;
}

.hero-title {
  margin-top: 4rem;
}

.hero-text {
  font-size: 1.5rem;
  font-weight: bold;
  line-height: 1.5;
  margin-bottom: 3rem;
}

.demo-image {
  height: 100%;
  width: 100%;
  background-color: lightblue;
}

/* ===== BOTTOM NAV ===== */

.bottom-nav {
  background-color: #292929;
  padding: 1rem 0;
}

.bottom-nav-container {
  display: grid;
  grid-template-columns: 1fr 3fr;
  align-items: center;
}


.bottom-nav-right {
  display: flex;
  align-items: stretch;
  gap: 2rem;
  justify-self: end;
}

.bottom-nav-right ul {
  display: flex;
  gap: 1.5rem;
  align-self: center;
  list-style: none;
}

.bottom-nav-right a:link,
.bottom-nav-right a:visited {
  color: #fff;
  text-decoration: none;
  font-size: 1.5rem;
  /* font-weight: lighter; */
}

/* switcher menu */
.lang-menu {
  width: 100px;
  height: 100%;
  position: relative;
}

.selected-lang {
  font-size: 1.6rem;
  color: #fff;
}

.lang-menu ul {
  position: absolute;
  list-style: none;
  -webkit-box-shadow: 0px 0px 22px 0px rgba(0, 0, 0, 0.59);
  -moz-box-shadow: 0px 0px 22px 0px rgba(0, 0, 0, 0.59);
  box-shadow: 0px 0px 22px 0px rgba(0, 0, 0, 0.59);
  width: 100%;
  padding: 1rem;
  top: 4rem;
  display: none;
  opacity: 0;
}

.lang-menu ul li {
  margin-bottom: 1.5rem;
}

.lang-menu ul li a {
  font-size: 1.4rem;
  color: #2a2a2a;
  text-decoration: none;
}

.lang-menu:hover ul {
  display: block;
}

/* search item */
.search-container div {
  display: flex;
  color: #fff;
}

#search {
  padding: 1rem 1.5rem;
}

.search-container div label {
  width: 5rem;
  background-color: #d2985e;
  font-size: 2.6rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* cart item */

.cart-container {
  width: 15rem;
  display: flex;
}

.cart-logo {
  width: 4rem;
  background-color: #d2985e;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}

.cart-logo .icon-cart {
  font-size: 2.6rem;
}

.cart-price {
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  font-size: 2.6rem;
  font-weight: bold;
}

/* ==== SECTION POPULAR NOW ====*/
.heading-secondary {
  font-size: 3rem;
  color: #d2985e;
}

.popular-title {
  text-align: center;
  margin-top: 6rem;
}
.popular-category {
  margin-bottom: 6rem;
}

.popular-category ul {
  margin-top: 2rem;
  list-style-type: none;
  display: flex;
  justify-content: center;
  gap: 2rem;
} 

.popular-category ul li a {
  text-decoration: none;
  font-size: 1.4rem;
  color: #292929;
}
.popular-category ul li a:hover,
.popular-category ul li a:active {
    color: #d2985e;
}

/* product card */
.product-cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.product-card {
  width: 27rem;
  text-align: center;
}

.card-image {
  width: 100%;
 height: 32rem;
  background-color: lightblue;
}

.card-discription {
  text-align: center;
  text-transform: uppercase;
  margin-top: 1.5rem;
}

.card-name {
  font-size: 1.5rem;
  color: #2a2a2a;
}

.card-price {
  font-size: 1.5rem;
  color: #d2985e;
  margin-top: 1rem;
}


